<section
>
<h3> Interpolação</h3>
<hr />>
<p>{{ nome }}</p>
<p>Seja bem-vindo(a), {{ nome}}</p>
<p>Você tem {{ idade }} ano(s),</p>
<p>{{ nome | uppercase}}</p>
<p>Soma de 1 +1 é: {{1 + 1}}</p>
<p>Seu sobrenome é {{'Kanazawa'}}</p>
<p>Você nasceu em : {{ calculaAnoNascimento() }}</p>
</section>

<!-- property Binding
<img
  src="{{ linkImagem }}"
  height="{{ alturaImagem }} "
  width="{{ larguraImagem }} "
  />-->

  <section>
  <h3>Event Binding</h3>
  <hr />
<!-- property Binding-->
<img
  [src]=" linkImagem "
  [height]=" alturaImagem "
  [width]=" larguraImagem "
  />
<p>{{ larguraImagem }} X {{alturaImagem }}</p>
  <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section>
